<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fashion Web</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="loginbox">
        <img class="logo" src="images/reg.png">
        <h1>Verification</h1><br><br><br>
        <form>
            <label>Email Address</label>
            <input type="email" placeholder="Enter Email ">
            <label>OTP</label>
            <input type="number" placeholder="Enter OTP"><br><br><br>
            <a href="reset.html"><input type="button" value="Next"></a>

        </form>
    </div>
</body>

</html>
